{% extends "layout.html" %}

{% block title %}
 Change Password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="currentpassword" placeholder="Your current password" type="password" required/>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="newpassword" placeholder="Your new password" type="password" required/>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="newpasswordconfirmation" placeholder="Confirm your new password" type="password" required/>
        </div>

        <button class="btn btn-primary" type="submit">Change your password</button>
    </form>
{% endblock %}